.DS_Store
__pycache__/
*.py[cod]

.venv/
.git/
.push-git/
.git-template/

workspace/
models/
data/
*.egg-info/

.ipynb_checkpoints/

training/AutoLearn_DeepAgent.ipynb
training/AutoLearn_FINAL.ipynb
training/AutoLearn_Training.ipynb
training/AutoLearn_v2.ipynb
training/AutoLearn_v3.ipynb
training/ModelForge_Training.ipynb
training/ModelForge_v2.ipynb
training/Screenshot*.png
training/advertising-dataset-linear-randomforest.ipynb
training/obesity-levels-life-style.ipynb
